@use "_variables";
@use "_mixins";

table, th, td {  
  border: 3px solid rgb(106,198,222);
  text-align: center;
  vertical-align: middle;
  height: 35px;
}
input table {
    padding: 1% 1%;
}
table{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10px;
  border-collapse: separate; 
  overflow: hidden; 
  border-spacing: 0;
}
#formWaybill {
  margin: 20px;
  form {
    display: grid;
    gap: 12px;
    input, select {
      text-align: center;
    }
  }
}
hr{
    border-style: groove;
    color: variables.$dark-mode;
}
footer{
    display: flex;
    margin-left: 10px;
}